@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.grayscale {
  filter: grayscale(100%);
}
.group-hover\:casb-blue-filter {
  filter: invert(19%) sepia(96%) saturate(4962%) hue-rotate(190deg) brightness(100%) contrast(102%);
}

.group:hover img {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(42%) 
    sepia(93%) 
    saturate(335%) 
    hue-rotate(158deg) 
    brightness(97%) 
    contrast(92%);
}

/* For browsers that support ::placeholder */
input::placeholder {
  color: #000 !important;
  opacity: 1 !important;
}

/* Fallback for older browsers */
input:-ms-input-placeholder {
  color: #000 !important;
}

input::-ms-input-placeholder {
  color: #000 !important;
}